body {
    background-color:red;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center; 
    color:rgb(0, 0, 0)
}
h2 {
    font-family: Verdana, 'Courier New', monospace;
    color:rgb(0, 0, 0)
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
    width: 30%;
    margin: 10px;
    padding: 10px 10px;
    background: rgb(0, 0, 0); /* pick a color */
    border-radius: 25%;
}

.project img{
    width: 180px;
    height: fit-content;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
    }

a { /* change the appearance of ALL links */
    text-decoration: none;
    color: white;
    }   
p {
    text-decoration: none;
    color: white;
  }     